@import "../main.scss";

@media screen and (min-width: 320px) {
    div.poster {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-attachment: fixed !important;
      display: flex;
      justify-content: center;
      align-items: center;
      div.poster-text {
        text-align: center;
        margin-left: 30px;
        h3 {
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-size: 3.5vw;
          font-weight: 100;
        }
        h1 {
          font-size: 5vw;
          letter-spacing: 8px;
          color: $second-color;
          margin: 50px 0;
          font-weight: 900;
          text-transform: uppercase;
        }
        h2 {
          font-size: 3.5vw;
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-weight: 100;
        }
      }
    }
  }

@media screen and (min-width: 576px) {
    div.poster {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-attachment: fixed !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      div.poster-text {
        text-align: left;
        margin-left: 30px;
        h3 {
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-size: 2.5vw;
          font-weight: 100;
        }
        h1 {
          font-size: 4vw;
          letter-spacing: 8px;
          color: $second-color;
          margin: 50px 0;
          font-weight: 900;
          text-transform: uppercase;
        }
        h2 {
          font-size: 2.5vw;
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-weight: 100;
        }
      }
    }
  }

@media screen and (min-width: 768px) {
    div.poster {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-attachment: fixed !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      div.poster-text {
        text-align: left;
        margin-left: 30px;
        h3 {
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-size: 2vw;
          font-weight: 100;
        }
        h1 {
          font-size: 3.5vw;
          letter-spacing: 8px;
          color: $second-color;
          margin: 50px 0;
          font-weight: 900;
          text-transform: uppercase;
        }
        h2 {
          font-size: 2vw;
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-weight: 100;
        }
      }
    }
  }

@media screen and (min-width: 1024px) {
    div.poster {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-attachment: fixed !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      div.poster-text {
        text-align: left;
        margin-left: 30px;
        h3 {
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-size: 1.5vw;
          font-weight: 100;
        }
        h1 {
          font-size: 3vw;
          letter-spacing: 8px;
          color: $second-color;
          margin: 50px 0;
          font-weight: 900;
          text-transform: uppercase;
        }
        h2 {
          font-size: 1.5vw;
          color: rgb(194, 194, 194);
          letter-spacing: 3px;
          font-weight: 100;
        }
      }
    }
  }

@media screen and (min-width: 1200px) {
  div.poster {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div.poster-text {
      text-align: left;
      margin-left: 30px;
      h3 {
        color: rgb(194, 194, 194);
        letter-spacing: 3px;
        font-size: 1.5vw;
        font-weight: 100;
      }
      h1 {
        font-size: 3vw;
        letter-spacing: 8px;
        color: $second-color;
        margin: 50px 0;
        font-weight: 900;
        text-transform: uppercase;
      }
      h2 {
        font-size: 1.5vw;
        color: rgb(194, 194, 194);
        letter-spacing: 3px;
        font-weight: 100;
      }
    }
  }
}
